@import url(https://fonts.googleapis.com/css?family=Poppins:300);


#login  .container p {
  display: none;
  transition: opacity 1s ease-in, transform 1s ease-in;
  opacity: 0;
  transform: translateY(20px);
}

#login .container p.show {
  display:block;
  opacity: 1;
  transform: translateY(0);
  color: #ff0000;
}


